In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
## error
url ="https://docs.google.com/spreadsheets/d/1cltj1nQA2hSM_-BJ2b7S1afMV78hKj9ygd4_P-Aqjqk/edit?usp=sharing"

In [3]:
# Load the dataset
data = pd.read_csv("AutoInsurance.csv")

In [4]:
# Explore the dataset
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [6]:
# Assuming your DataFrame is named 'df'
le = LabelEncoder()

# Convert 'Customer' column to numeric using label encoding
data['Customer'] = le.fit_transform(data['Customer'])

# Check the first few rows to see the transformation
print(data['Customer'].head())

0     600
1    5946
2      96
3    8016
4    2488
Name: Customer, dtype: int32

In [7]:
# Preprocessing the data (handle missing values, encoding categorical variables, etc.)
# Splitting the data into features and target variable
X = data.drop(columns=['Customer'])
y = data['Customer']

In [8]:
data.drop('Customer', axis=1, inplace=True)

In [9]:
# Display the DataFrame after deleting column 'Customer Lifetime Value'
print("\nDataFrame after deleting column 'Customer Lifetime Value':")
data

DataFrame after deleting column 'Customer Lifetime Value':

,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,Rural,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,23405.987980,No,Basic,Bachelor,10/2/2011,Employed,M,71941,Urban,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,California,3096.511217,Yes,Extended,College,12/2/2011,Employed,F,21604,Suburban,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,California,8163.890428,No,Extended,Bachelor,6/2/2011,Unemployed,M,0,Suburban,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,California,7524.442436,No,Extended,College,3/2/2011,Employed,M,21941,Suburban,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [10]:
data.isnull()

,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9130,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9131,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9132,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9133,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
data.isna().sum()

State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [12]:
data.shape

(9134, 23)

In [13]:
# check categary level of all columns
for col in data.columns:
    print("-----------{}-----------" .format(col))
    print(data[col].value_counts())
    print()

-----------State-----------
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

-----------Customer Lifetime Value-----------
7200.664877     6
17497.522010    6
2248.449633     6
8092.876960     6
6057.072080     6
               ..
9162.063169     1
2374.147419     1
6874.848270     1
9934.865795     1
2611.836866     1
Name: Customer Lifetime Value, Length: 8041, dtype: int64

-----------Response-----------
No     7826
Yes    1308
Name: Response, dtype: int64

-----------Coverage-----------
Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

-----------Education-----------
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

-----------Effective To Date-----------
10/1/2011    195
1/27/11      194
2/14/11      186
1/26/11      181
1/17/11      180
1/19/11      179
1/31/11      178
3/1/2011     178
1/20/11      173
2/26/11      169
1/28/11      169
2/19/11      168
5/1/2011     167
2/27/11      167
11/1/2011    166
4/2/2011     164
10/2/2011    161
2/28/11      161
2/1/2011     160
1/21/11      160
1/29/11      160
2/22/11      158
5/2/2011     158
3/2/2011     158
7/2/2011     157
12/2/2011    156
1/23/11      155
1/2/2011     154
1/18/11      154
1/15/11      153
1/14/11      152
11/2/2011    151
7/1/2011     151
1/25/11      151
2/25/11      149
8/1/2011     149
2/18/11      149
2/2/2011     149
1/1/2011     148
2/21/11      148
1/24/11      147
9/1/2011     146
1/30/11      145
1/13/11      145
6/2/2011     144
6/1/2011     143
2/23/11      143
1/16/11      142
2/16/11      139
2/13/11      139
2/24/11      139
9/2/2011     137
2/17/11      136
1/22/11      136
8/2/2011     134
2/20/11      132
2/15/11      130
12/1/2011    126
4/1/2011     115
Name: Effective To Date, dtype: int64

-----------EmploymentStatus-----------
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

-----------Gender-----------
F    4658
M    4476
Name: Gender, dtype: int64

-----------Income-----------
0        2317
95697      12
27972       7
25370       7
61108       7
         ...
36529       1
25859       1
38179       1
70190       1
21941       1
Name: Income, Length: 5694, dtype: int64

-----------Location Code-----------
Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

-----------Marital Status-----------
Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

-----------Monthly Premium Auto-----------
65     348
66     307
71     304
73     302
63     289
      ...
273      1
287      1
268      1
232      1
286      1
Name: Monthly Premium Auto, Length: 202, dtype: int64

-----------Months Since Last Claim-----------
3     381
6     364
1     345
4     335
7     333
2     329
0     314
5     313
10    306
11    297
16    295
15    286
13    285
8     279
12    273
14    268
17    263
9     250
19    246
23    239
25    236
21    233
20    231
18    229
22    218
24    211
29    206
28    201
31    190
26    186
30    182
27    182
33    179
34    169
35    142
32    138
Name: Months Since Last Claim, dtype: int64

-----------Months Since Policy Inception-----------
59    142
61    128
50    125
44    115
3     114
     ...
16     70
96     67
82     56
98     54
97     52
Name: Months Since Policy Inception, Length: 100, dtype: int64

-----------Number of Open Complaints-----------
0    7252
1    1011
2     374
3     292
4     149
5      56
Name: Number of Open Complaints, dtype: int64

-----------Number of Policies-----------
1    3251
2    2294
3    1168
7     433
9     416
4     409
5     407
8     384
6     372
Name: Number of Policies, dtype: int64

-----------Policy Type-----------
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

-----------Policy-----------
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

-----------Renew Offer Type-----------
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

-----------Sales Channel-----------
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

-----------Total Claim Amount-----------
316.800000    116
292.800000    110
312.000000    108
350.400000    105
331.200000    102
             ...
377.442796      1
20.985105       1
280.897050      1
268.130863      1
790.784983      1
Name: Total Claim Amount, Length: 5106, dtype: int64

-----------Vehicle Class-----------
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

-----------Vehicle Size-----------
Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

In [14]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Identify categorical columns
categorical_cols = ['Customer Lifetime Value']  # Replace '' with the actual column name

In [16]:
data.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,Rural,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [19]:
# Drop non-numeric columns (if necessary)
X_train_numeric = X_train.drop(['State'], axis=1)

# Encode categorical columns using one-hot encoding
X_train_encoded = pd.get_dummies(X_train_numeric)

model = LinearRegression()
# Now, you can train your model using X_train_encoded and y_train
model.fit(X_train_encoded, y_train)

LinearRegression()

In [22]:

# Assuming X_train contains your features including categorical variables and y_train contains the target variable

# Identify categorical columns in your dataset
categorical_cols = X_train.select_dtypes(include=['State']).columns

# Define a column transformer to apply one-hot encoding to categorical columns and leave numerical columns unchanged
preprocessor = make_column_transformer(
    (OneHotEncoder(), categorical_cols),
    remainder='passthrough'
)

# Apply the column transformer to your training data
X_train_encoded = preprocessor.fit_transform(X_train)

# Instantiate the model
model = LinearRegression()

# Train the model
model.fit(X_train_encoded, y_train)

TypeError: data type 'State' not understood

In [24]:
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for col in X_train_categorical.columns:
    X_train_y_train[col] = label_encoder.fit_transform(X_train_y_train[col])

NameError: name 'X_train_categorical' is not defined

In [20]:
# Training different regression models
# Example: Linear Regression
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Washington'

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

# Load your dataset
data = pd.read_csv('.csv')

# Drop any rows with missing values
df = df.dropna()

# Identify categorical columns
categorical_cols = ['YQ79307']  # Replace 'YQ79307' with the actual column name

# Encode categorical variables
df_encoded = pd.get_dummies(df, columns=categorical_cols)

# Split data into features and target
X = df_encoded.drop('target_column_name', axis=1)  # Drop the target column
y = df_encoded['target_column_name']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train linear regression model
model = LinearRegression()
model.fit(X_train, y_train)